<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiCaja"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".fragment_agregar_producto"
            android:exported="false" />
        <activity
            android:name=".activity_inventario"
            android:exported="false" />
        <activity
            android:name=".item_mensajes"
            android:exported="false" />
        <activity
            android:name=".Calendario.ConsultarXFecha"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragments.FragmentAnadirProductos"
            android:exported="false" />
        <activity
            android:name=".categorias.ItemCategorias"
            android:exported="false" />
        <activity
            android:name=".categorias.Categorias"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Registro"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Principal"
            android:exported="false" />
        <activity
            android:name=".chat_Tienda"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".editar_clientes"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".fragment_editar_producto"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

    </application>

</manifest>